.flexBar {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
}

.flexOne {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexTwo {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexThree {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
