.flexBar {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: left;
  flex-wrap: wrap;
}

.flexOne {
  order: 1;
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexTwo {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexThree {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexFour {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexFive {
  margin: 10px;
  background-color: #1177ff;
  color: #000;
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
